misc
var
roles/test_role
roles/template
roles/zk_repair_code/files/zstack-image-1.4.qcow2
roles/zk_repair_code/files/zstack-virtualrouter-1.1.0.qcow2
roles/zk_repair_code/files/bugs
playbooks/test.yml
