misc
roles/template
roles/zk_repair_code/files/zstack-image-1.4.qcow2
roles/zk_repair_code/files/zstack-virtualrouter-1.1.0.qcow2
var
roles/zk_repaire_code/files/zstack-virtualrouter-1.1.0.qcow2
roles/zk_repaire_code/files/zstack-image-1.4.qcow2
playbooks/test.yml
