[Unit]
Description=zstack kvmagent Service
After=syslog.target network.target rabbitmq-server.service mariadb.service
Before=shutdown.target reboot.target halt.target

[Service]
Type=forking
User=root
ExecStart=/usr/bin/zstack-sftpbackupstorage start
ExecStop=/usr/bin/zstack-sftpbackupstorage stop
Restart=on-abort
RemainAfterExit=Yes
TimeoutStartSec=300
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
